In [ ]:
from pyspark import *;
from pyspark.sql import *;
from pyspark.sql.functions import *;
import pandas as pd;

In [ ]:
spark = SparkSession.builder.appName("Q7").getOrCreate()

df = spark.read.csv("phone_usage_india.csv",header=True,inferSchema=True)
df.printSchema()
df.show()

root
 |-- User ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Phone Brand: string (nullable = true)
 |-- OS: string (nullable = true)
 |-- Screen Time (hrs/day): double (nullable = true)
 |-- Data Usage (GB/month): double (nullable = true)
 |-- Calls Duration (mins/day): double (nullable = true)
 |-- Number of Apps Installed: integer (nullable = true)
 |-- Social Media Time (hrs/day): double (nullable = true)
 |-- E-commerce Spend (INR/month): integer (nullable = true)
 |-- Streaming Time (hrs/day): double (nullable = true)
 |-- Gaming Time (hrs/day): double (nullable = true)
 |-- Monthly Recharge Cost (INR): integer (nullable = true)
 |-- Primary Use: string (nullable = true)

+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
|User ID|Age|Gender| Location| Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
| U00001| 53|  Male|   Mumbai|        Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education|
| U00002| 60| Other|    Delhi|      Realme|  apple|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming|
| U00003| 37|Female|Ahmedabad|       Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment|
| U00004| 32|  Male|     Pune|     Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|
| U00005| 16|  Male|   Mumbai|      Xiaomi|  apple|                  2.2|                  2.5|                    236.2|                      86|                        5.5|                         106|                     3.4|                  2.3|                        742| Social Media|
| U00006| 21|  Male|   Jaipur|        Oppo|  apple|                  5.4|                 10.6|                    210.6|                      25|                        4.2|                        6285|                     0.6|                  4.8|                       1749|Entertainment|
| U00007|157|Female|  Lucknow|       Apple|  apple|                  6.0|                 35.2|                    154.5|                     123|                        0.8|                        2653|                     2.9|                  2.3|                       1073| Social Media|
| U00008| 56| Other|  Kolkata|      Realme|  apple|                  3.1|                 43.5|                    125.3|                     188|                        2.3|                        9767|                     5.2|                  5.0|                       1136|Entertainment|
| U00009| 46|Female|  Kolkata|        Oppo|Android|                  5.3|                 46.4|                     21.3|                     194|                        3.7|                        2870|                     6.1|                  2.8|                       1253|Entertainment|
| U00010|144| Other|  Kolkata|       Apple|  apple|                  9.9|                 10.6|                    180.2|                      84|                        4.8|                        9193|                     7.6|                  0.4|                        168|    Education|
| U00011|155| Other|  Lucknow|       Nokia|Android|                  1.6|                 23.7|                    192.0|                      27|                        3.1|                        9330|                     1.2|                  2.3|                       1098|         Work|
| U00012| 41|Female|    Delhi|        Oppo|Android|                  7.5|                 23.5|                     84.9|                     187|                        0.9|                         643|                     3.5|                  2.7|                        151| Social Media|
| U00013| 53|  Male|     NULL|      Realme|  apple|                 10.5|                  1.4|                     33.7|                     137|                        4.5|                        7854|                     7.2|                  1.4|                        240|    Education|
| U00014|135|  Male|     NULL|      Realme|Android|                 10.3|                 32.4|                    247.1|                     124|                        5.2|                        3347|                     3.8|                  4.5|                        972| Social Media|
| U00015| 33|Female|     NULL|     Samsung|  apple|                  1.7|                 33.2|                    208.8|                     121|                        3.0|                        3185|                     4.2|                  0.5|                       1046|Entertainment|
| U00016|152|  Male|     NULL|Google Pixel|Android|                  5.1|                 28.5|                    169.2|                     161|                        4.6|                        6175|                     4.4|                  4.3|                       1769|         Work|
| U00017| 46| Other|     NULL|       Apple|Android|                  3.1|                 23.6|                    153.9|                     183|                        2.5|                        6242|                     6.2|                  0.4|                       1679|    Education|
| U00018| 54|  Male|  Kolkata|       Apple|Android|                 11.6|                 12.6|                    210.4|                      62|                        4.9|                        4642|                     0.9|                  4.1|                       1360|Entertainment|
| U00019| 50|Female|  Chennai|Google Pixel|Android|                  5.3|                  5.2|                    235.6|                     188|                        4.6|                        1120|                     1.0|                  0.8|                       1639|         Work|
| U00020| 40| Other|Hyderabad|    Motorola|  apple|                  9.0|                 38.9|                    289.6|                      62|                        2.4|                        8012|                     7.7|                  2.0|                       1224|         Work|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
only showing top 20 rows

In [ ]:
df.select([count(when(isnull(c)|isnan(c),c)).alias(c) for c in df.columns]).show()

+-------+---+------+--------+-----------+---+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-----------+
|User ID|Age|Gender|Location|Phone Brand| OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|Primary Use|
+-------+---+------+--------+-----------+---+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-----------+
|      0|  0|     0|      18|          0|  0|                    0|                    0|                        0|                       0|                          0|                           0|                       0|                    0|                          0|          0|
+-------+---+------+--------+-----------+---+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-----------+

In [ ]:
df = df.filter((col("Age")>=18)&(col("Age")<=90))
df.show()

+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
|User ID|Age|Gender| Location| Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
| U00001| 53|  Male|   Mumbai|        Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education|
| U00002| 60| Other|    Delhi|      Realme|  apple|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming|
| U00003| 37|Female|Ahmedabad|       Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment|
| U00004| 32|  Male|     Pune|     Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|
| U00006| 21|  Male|   Jaipur|        Oppo|  apple|                  5.4|                 10.6|                    210.6|                      25|                        4.2|                        6285|                     0.6|                  4.8|                       1749|Entertainment|
| U00008| 56| Other|  Kolkata|      Realme|  apple|                  3.1|                 43.5|                    125.3|                     188|                        2.3|                        9767|                     5.2|                  5.0|                       1136|Entertainment|
| U00009| 46|Female|  Kolkata|        Oppo|Android|                  5.3|                 46.4|                     21.3|                     194|                        3.7|                        2870|                     6.1|                  2.8|                       1253|Entertainment|
| U00012| 41|Female|    Delhi|        Oppo|Android|                  7.5|                 23.5|                     84.9|                     187|                        0.9|                         643|                     3.5|                  2.7|                        151| Social Media|
| U00013| 53|  Male|     NULL|      Realme|  apple|                 10.5|                  1.4|                     33.7|                     137|                        4.5|                        7854|                     7.2|                  1.4|                        240|    Education|
| U00015| 33|Female|     NULL|     Samsung|  apple|                  1.7|                 33.2|                    208.8|                     121|                        3.0|                        3185|                     4.2|                  0.5|                       1046|Entertainment|
| U00017| 46| Other|     NULL|       Apple|Android|                  3.1|                 23.6|                    153.9|                     183|                        2.5|                        6242|                     6.2|                  0.4|                       1679|    Education|
| U00018| 54|  Male|  Kolkata|       Apple|Android|                 11.6|                 12.6|                    210.4|                      62|                        4.9|                        4642|                     0.9|                  4.1|                       1360|Entertainment|
| U00019| 50|Female|  Chennai|Google Pixel|Android|                  5.3|                  5.2|                    235.6|                     188|                        4.6|                        1120|                     1.0|                  0.8|                       1639|         Work|
| U00020| 40| Other|Hyderabad|    Motorola|  apple|                  9.0|                 38.9|                    289.6|                      62|                        2.4|                        8012|                     7.7|                  2.0|                       1224|         Work|
| U00022| 59| Other|     Pune|      Xiaomi|Android|                 11.7|                  9.1|                    203.9|                     101|                        5.8|                        2579|                     2.6|                  4.1|                        446|       Gaming|
| U00023| 46| Other|  Chennai|     Samsung|Android|                  8.1|                 15.5|                    206.8|                      77|                        5.9|                        1776|                     3.4|                  2.5|                        899| Social Media|
| U00025| 29|Female|Bangalore|      Realme|Android|                  7.0|                 41.7|                     51.0|                     130|                        1.4|                        2604|                     3.5|                  1.6|                       1154|    Education|
| U00026| 36|  Male|Hyderabad|        Vivo|  apple|                  5.6|                 47.4|                    155.4|                     123|                        5.9|                        1886|                     2.3|                  3.0|                        955|         Work|
| U00028| 41| Other|   Jaipur|      Realme|Android|                  8.1|                 44.1|                     81.8|                      25|                        1.9|                        5545|                     5.7|                  3.7|                       1488|    Education|
| U00029| 51|Female|  Kolkata|        Vivo|  apple|                 10.7|                 45.1|                     94.0|                     127|                        3.5|                        2293|                     6.7|                  5.0|                        333|    Education|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
only showing top 20 rows

In [ ]:
df = df.withColumn("Age_Category",
                   when(col("Age")<=35,"Young").
                   when(col("Age")<=60,"Middle-aged").
                   otherwise("Senior"))
df.show()

+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+
|User ID|Age|Gender| Location| Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|Age_Category|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+
| U00001| 53|  Male|   Mumbai|        Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education| Middle-aged|
| U00002| 60| Other|    Delhi|      Realme|  apple|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming| Middle-aged|
| U00003| 37|Female|Ahmedabad|       Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment| Middle-aged|
| U00004| 32|  Male|     Pune|     Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|       Young|
| U00006| 21|  Male|   Jaipur|        Oppo|  apple|                  5.4|                 10.6|                    210.6|                      25|                        4.2|                        6285|                     0.6|                  4.8|                       1749|Entertainment|       Young|
| U00008| 56| Other|  Kolkata|      Realme|  apple|                  3.1|                 43.5|                    125.3|                     188|                        2.3|                        9767|                     5.2|                  5.0|                       1136|Entertainment| Middle-aged|
| U00009| 46|Female|  Kolkata|        Oppo|Android|                  5.3|                 46.4|                     21.3|                     194|                        3.7|                        2870|                     6.1|                  2.8|                       1253|Entertainment| Middle-aged|
| U00012| 41|Female|    Delhi|        Oppo|Android|                  7.5|                 23.5|                     84.9|                     187|                        0.9|                         643|                     3.5|                  2.7|                        151| Social Media| Middle-aged|
| U00013| 53|  Male|     NULL|      Realme|  apple|                 10.5|                  1.4|                     33.7|                     137|                        4.5|                        7854|                     7.2|                  1.4|                        240|    Education| Middle-aged|
| U00015| 33|Female|     NULL|     Samsung|  apple|                  1.7|                 33.2|                    208.8|                     121|                        3.0|                        3185|                     4.2|                  0.5|                       1046|Entertainment|       Young|
| U00017| 46| Other|     NULL|       Apple|Android|                  3.1|                 23.6|                    153.9|                     183|                        2.5|                        6242|                     6.2|                  0.4|                       1679|    Education| Middle-aged|
| U00018| 54|  Male|  Kolkata|       Apple|Android|                 11.6|                 12.6|                    210.4|                      62|                        4.9|                        4642|                     0.9|                  4.1|                       1360|Entertainment| Middle-aged|
| U00019| 50|Female|  Chennai|Google Pixel|Android|                  5.3|                  5.2|                    235.6|                     188|                        4.6|                        1120|                     1.0|                  0.8|                       1639|         Work| Middle-aged|
| U00020| 40| Other|Hyderabad|    Motorola|  apple|                  9.0|                 38.9|                    289.6|                      62|                        2.4|                        8012|                     7.7|                  2.0|                       1224|         Work| Middle-aged|
| U00022| 59| Other|     Pune|      Xiaomi|Android|                 11.7|                  9.1|                    203.9|                     101|                        5.8|                        2579|                     2.6|                  4.1|                        446|       Gaming| Middle-aged|
| U00023| 46| Other|  Chennai|     Samsung|Android|                  8.1|                 15.5|                    206.8|                      77|                        5.9|                        1776|                     3.4|                  2.5|                        899| Social Media| Middle-aged|
| U00025| 29|Female|Bangalore|      Realme|Android|                  7.0|                 41.7|                     51.0|                     130|                        1.4|                        2604|                     3.5|                  1.6|                       1154|    Education|       Young|
| U00026| 36|  Male|Hyderabad|        Vivo|  apple|                  5.6|                 47.4|                    155.4|                     123|                        5.9|                        1886|                     2.3|                  3.0|                        955|         Work| Middle-aged|
| U00028| 41| Other|   Jaipur|      Realme|Android|                  8.1|                 44.1|                     81.8|                      25|                        1.9|                        5545|                     5.7|                  3.7|                       1488|    Education| Middle-aged|
| U00029| 51|Female|  Kolkata|        Vivo|  apple|                 10.7|                 45.1|                     94.0|                     127|                        3.5|                        2293|                     6.7|                  5.0|                        333|    Education| Middle-aged|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+
only showing top 20 rows

In [ ]:
df = df.fillna({"Location":"Unknown"})
df.show()

+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+
|User ID|Age|Gender| Location| Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|Age_Category|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+
| U00001| 53|  Male|   Mumbai|        Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education| Middle-aged|
| U00002| 60| Other|    Delhi|      Realme|  apple|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming| Middle-aged|
| U00003| 37|Female|Ahmedabad|       Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment| Middle-aged|
| U00004| 32|  Male|     Pune|     Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|       Young|
| U00006| 21|  Male|   Jaipur|        Oppo|  apple|                  5.4|                 10.6|                    210.6|                      25|                        4.2|                        6285|                     0.6|                  4.8|                       1749|Entertainment|       Young|
| U00008| 56| Other|  Kolkata|      Realme|  apple|                  3.1|                 43.5|                    125.3|                     188|                        2.3|                        9767|                     5.2|                  5.0|                       1136|Entertainment| Middle-aged|
| U00009| 46|Female|  Kolkata|        Oppo|Android|                  5.3|                 46.4|                     21.3|                     194|                        3.7|                        2870|                     6.1|                  2.8|                       1253|Entertainment| Middle-aged|
| U00012| 41|Female|    Delhi|        Oppo|Android|                  7.5|                 23.5|                     84.9|                     187|                        0.9|                         643|                     3.5|                  2.7|                        151| Social Media| Middle-aged|
| U00013| 53|  Male|  Unknown|      Realme|  apple|                 10.5|                  1.4|                     33.7|                     137|                        4.5|                        7854|                     7.2|                  1.4|                        240|    Education| Middle-aged|
| U00015| 33|Female|  Unknown|     Samsung|  apple|                  1.7|                 33.2|                    208.8|                     121|                        3.0|                        3185|                     4.2|                  0.5|                       1046|Entertainment|       Young|
| U00017| 46| Other|  Unknown|       Apple|Android|                  3.1|                 23.6|                    153.9|                     183|                        2.5|                        6242|                     6.2|                  0.4|                       1679|    Education| Middle-aged|
| U00018| 54|  Male|  Kolkata|       Apple|Android|                 11.6|                 12.6|                    210.4|                      62|                        4.9|                        4642|                     0.9|                  4.1|                       1360|Entertainment| Middle-aged|
| U00019| 50|Female|  Chennai|Google Pixel|Android|                  5.3|                  5.2|                    235.6|                     188|                        4.6|                        1120|                     1.0|                  0.8|                       1639|         Work| Middle-aged|
| U00020| 40| Other|Hyderabad|    Motorola|  apple|                  9.0|                 38.9|                    289.6|                      62|                        2.4|                        8012|                     7.7|                  2.0|                       1224|         Work| Middle-aged|
| U00022| 59| Other|     Pune|      Xiaomi|Android|                 11.7|                  9.1|                    203.9|                     101|                        5.8|                        2579|                     2.6|                  4.1|                        446|       Gaming| Middle-aged|
| U00023| 46| Other|  Chennai|     Samsung|Android|                  8.1|                 15.5|                    206.8|                      77|                        5.9|                        1776|                     3.4|                  2.5|                        899| Social Media| Middle-aged|
| U00025| 29|Female|Bangalore|      Realme|Android|                  7.0|                 41.7|                     51.0|                     130|                        1.4|                        2604|                     3.5|                  1.6|                       1154|    Education|       Young|
| U00026| 36|  Male|Hyderabad|        Vivo|  apple|                  5.6|                 47.4|                    155.4|                     123|                        5.9|                        1886|                     2.3|                  3.0|                        955|         Work| Middle-aged|
| U00028| 41| Other|   Jaipur|      Realme|Android|                  8.1|                 44.1|                     81.8|                      25|                        1.9|                        5545|                     5.7|                  3.7|                       1488|    Education| Middle-aged|
| U00029| 51|Female|  Kolkata|        Vivo|  apple|                 10.7|                 45.1|                     94.0|                     127|                        3.5|                        2293|                     6.7|                  5.0|                        333|    Education| Middle-aged|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+
only showing top 20 rows

In [ ]:
df = df.withColumn("ScreenTime_Minutes", col("Screen Time (hrs/day)")*60)
df = df.withColumn("SocialMediaTime_Minutes", col("Social Media Time (hrs/day)")*60)
df = df.withColumn("StreamingTime_Minutes", col("Streaming Time (hrs/day)")*60)
df = df.withColumn("GamingTime_Minutes", round(col("Gaming Time (hrs/day)")*60,2))
df.show()

+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+------------------+-----------------------+---------------------+------------------+
|User ID|Age|Gender| Location| Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|Age_Category|ScreenTime_Minutes|SocialMediaTime_Minutes|StreamingTime_Minutes|GamingTime_Minutes|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+------------------+-----------------------+---------------------+------------------+
| U00001| 53|  Male|   Mumbai|        Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education| Middle-aged|             222.0|                  234.0|                312.0|             246.0|
| U00002| 60| Other|    Delhi|      Realme|  apple|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming| Middle-aged|             552.0|                  168.0|                306.0|              24.0|
| U00003| 37|Female|Ahmedabad|       Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment| Middle-aged|             270.0|                  180.0|                102.0|             174.0|
| U00004| 32|  Male|     Pune|     Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|       Young|             660.0|                  312.0|                192.0|              18.0|
| U00006| 21|  Male|   Jaipur|        Oppo|  apple|                  5.4|                 10.6|                    210.6|                      25|                        4.2|                        6285|                     0.6|                  4.8|                       1749|Entertainment|       Young|             324.0|                  252.0|                 36.0|             288.0|
| U00008| 56| Other|  Kolkata|      Realme|  apple|                  3.1|                 43.5|                    125.3|                     188|                        2.3|                        9767|                     5.2|                  5.0|                       1136|Entertainment| Middle-aged|             186.0|                  138.0|                312.0|             300.0|
| U00009| 46|Female|  Kolkata|        Oppo|Android|                  5.3|                 46.4|                     21.3|                     194|                        3.7|                        2870|                     6.1|                  2.8|                       1253|Entertainment| Middle-aged|             318.0|                  222.0|                366.0|             168.0|
| U00012| 41|Female|    Delhi|        Oppo|Android|                  7.5|                 23.5|                     84.9|                     187|                        0.9|                         643|                     3.5|                  2.7|                        151| Social Media| Middle-aged|             450.0|                   54.0|                210.0|             162.0|
| U00013| 53|  Male|  Unknown|      Realme|  apple|                 10.5|                  1.4|                     33.7|                     137|                        4.5|                        7854|                     7.2|                  1.4|                        240|    Education| Middle-aged|             630.0|                  270.0|                432.0|              84.0|
| U00015| 33|Female|  Unknown|     Samsung|  apple|                  1.7|                 33.2|                    208.8|                     121|                        3.0|                        3185|                     4.2|                  0.5|                       1046|Entertainment|       Young|             102.0|                  180.0|                252.0|              30.0|
| U00017| 46| Other|  Unknown|       Apple|Android|                  3.1|                 23.6|                    153.9|                     183|                        2.5|                        6242|                     6.2|                  0.4|                       1679|    Education| Middle-aged|             186.0|                  150.0|                372.0|              24.0|
| U00018| 54|  Male|  Kolkata|       Apple|Android|                 11.6|                 12.6|                    210.4|                      62|                        4.9|                        4642|                     0.9|                  4.1|                       1360|Entertainment| Middle-aged|             696.0|                  294.0|                 54.0|             246.0|
| U00019| 50|Female|  Chennai|Google Pixel|Android|                  5.3|                  5.2|                    235.6|                     188|                        4.6|                        1120|                     1.0|                  0.8|                       1639|         Work| Middle-aged|             318.0|                  276.0|                 60.0|              48.0|
| U00020| 40| Other|Hyderabad|    Motorola|  apple|                  9.0|                 38.9|                    289.6|                      62|                        2.4|                        8012|                     7.7|                  2.0|                       1224|         Work| Middle-aged|             540.0|                  144.0|                462.0|             120.0|
| U00022| 59| Other|     Pune|      Xiaomi|Android|                 11.7|                  9.1|                    203.9|                     101|                        5.8|                        2579|                     2.6|                  4.1|                        446|       Gaming| Middle-aged|             702.0|                  348.0|                156.0|             246.0|
| U00023| 46| Other|  Chennai|     Samsung|Android|                  8.1|                 15.5|                    206.8|                      77|                        5.9|                        1776|                     3.4|                  2.5|                        899| Social Media| Middle-aged|             486.0|                  354.0|                204.0|             150.0|
| U00025| 29|Female|Bangalore|      Realme|Android|                  7.0|                 41.7|                     51.0|                     130|                        1.4|                        2604|                     3.5|                  1.6|                       1154|    Education|       Young|             420.0|                   84.0|                210.0|              96.0|
| U00026| 36|  Male|Hyderabad|        Vivo|  apple|                  5.6|                 47.4|                    155.4|                     123|                        5.9|                        1886|                     2.3|                  3.0|                        955|         Work| Middle-aged|             336.0|                  354.0|                138.0|             180.0|
| U00028| 41| Other|   Jaipur|      Realme|Android|                  8.1|                 44.1|                     81.8|                      25|                        1.9|                        5545|                     5.7|                  3.7|                       1488|    Education| Middle-aged|             486.0|                  114.0|                342.0|             222.0|
| U00029| 51|Female|  Kolkata|        Vivo|  apple|                 10.7|                 45.1|                     94.0|                     127|                        3.5|                        2293|                     6.7|                  5.0|                        333|    Education| Middle-aged|             642.0|                  210.0|                402.0|             300.0|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+------------+------------------+-----------------------+---------------------+------------------+
only showing top 20 rows

In [ ]:
df = df.withColumn("Screen_Time_Category",
                       when(col("ScreenTime_Minutes")<=180,"Low-Usage").
                       when(col("ScreenTime_Minutes")<=360,"Moderate-Usage").
                       otherwise("High-Usage"))
df.select("Screen_Time_Category").distinct().show()

+--------------------+
|Screen_Time_Category|
+--------------------+
|          High-Usage|
|           Low-Usage|
|      Moderate-Usage|
+--------------------+

In [ ]:
primary_use_case = df.groupBy("Primary Use").agg(sum(col("Monthly Recharge Cost (INR)")).alias("Total Cost")).orderBy("Total Cost")
primary_use_case.show()

+-------------+----------+
|  Primary Use|Total Cost|
+-------------+----------+
|Entertainment|   3302462|
| Social Media|   3433779|
|       Gaming|   3464171|
|    Education|   3478342|
|         Work|   3499693|
+-------------+----------+

In [ ]:
df = df.toPandas()
df.to_csv("cleaned_7.csv")

In [ ]:
spark.stop()