In [ ]:
from pyspark import *;
from pyspark.sql import *;
from pyspark.sql.functions import *;
import pandas as pd;

spark = SparkSession.builder.appName("Q10").getOrCreate()

In [ ]:
df = spark.read.csv("Real_estate.csv",header=True,inferSchema=True)
df.printSchema()
df.show()

root
 |-- Serial Number: integer (nullable = true)
 |-- List Year: integer (nullable = true)
 |-- Date Recorded: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: integer (nullable = true)
 |-- Sale Amount: integer (nullable = true)
 |-- Property Type: string (nullable = true)
 |-- Residential Type: string (nullable = true)

+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+
|Serial Number|List Year|Date Recorded|        Town|             Address|Assessed Value|Sale Amount|Property Type|Residential Type|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+
|       220008|     2022|   01/30/2023|     Andover|         618 ROUTE 6|        139020|     232000|  Residential|   Single Family|
|      2020348|     2020|   09/13/2021|     Ansonia|     230 WAKELEE AVE|        150500|     325000|   Commercial|            NULL|
|        20002|     2020|   10-02-2020|     Ashford|     390 TURNPIKE RD|        253000|     430000|  Residential|   Single Family|
|       210317|     2021|   07-05-2022|        Avon|     53 COTSWOLD WAY|        329730|     805000|  Residential|   Single Family|
|       200212|     2020|   03-09-2021|        Avon|    5 CHESTNUT DRIVE|        130400|     179900|  Residential|           Condo|
|       200243|     2020|   04/13/2021|        Avon|111 NORTHINGTON D...|        619290|     890000|  Residential|   Single Family|
|       200377|     2020|   07-02-2021|        Avon|  70 FAR HILLS DRIVE|        862330|    1447500|  Residential|   Single Family|
|        22043|     2022|   03/15/2023|Beacon Falls|   41 EDGEWOOD DRIVE|        164170|     285000|  Residential|   Single Family|
|       200109|     2020|   12-09-2020|        Avon|  57 FAR HILLS DRIVE|        847520|    1250000|  Residential|   Single Family|
|      2020180|     2020|   03-01-2021|      Berlin| 1539 FARMINGTON AVE|        234200|     130000|  Residential|      Two Family|
|      2020313|     2020|   07-01-2021|      Berlin|   216 WATCH HILL RD|        412000|     677500|  Residential|   Single Family|
|       220440|     2022|   02/16/2023|    Branford|          69 MONTOYA|         84300|     195000|  Residential|           Condo|
|       200097|     2020|   06-04-2021|     Bethany|         23 AMITY RD|        511000|     795000|   Commercial|            NULL|
|       210045|     2025|   04/29/2022|   Bethlehem|   89 LONG MEADOW RD|        229900|     561850|  Residential|   Single Family|
|       210101|     2025|   12/20/2021|        NULL|      43 LEDYARD AVE|        111580|     209000|  Residential|   Single Family|
|        20139|     2025|   12/16/2020|        NULL|   16 DEEPWOOD DRIVE|        171360|     335000|  Residential|   Single Family|
|       200086|     2025|   08-10-2021|        NULL|      39 WOODLAND RD|        168900|     352000|  Residential|   Single Family|
|      2000381|     2025|   09/13/2021|        NULL|      9 SADDLE RIDGE|        163730|     250000|  Residential|           Condo|
|       200258|     2020|   01/22/2021|        NULL|34 SUNRISE COVE CAMP|        530500|     700000|  Residential|   Single Family|
|       210035|     2021|   10/20/2021|        NULL|   25 QUARRY DOCK RD|        208100|     448000|  Residential|           Condo|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+
only showing top 20 rows

In [ ]:
df.select([count(when(isnull(c)|isnan(c),c)).alias(c) for c in df.columns]).show()

+-------------+---------+-------------+----+-------+--------------+-----------+-------------+----------------+
|Serial Number|List Year|Date Recorded|Town|Address|Assessed Value|Sale Amount|Property Type|Residential Type|
+-------------+---------+-------------+----+-------+--------------+-----------+-------------+----------------+
|            0|        0|            0|  10|      0|             0|          0|           72|             168|
+-------------+---------+-------------+----+-------+--------------+-----------+-------------+----------------+

In [ ]:
df = df.withColumn("Date Recorded",regexp_replace("Date Recorded","/","-"))
df = df.withColumn("Date Recorded",date_format(to_date(col("Date Recorded"),"MM-dd-yyyy"),"yyyy-MM-dd"))
df.show()

+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+
|Serial Number|List Year|Date Recorded|        Town|             Address|Assessed Value|Sale Amount|Property Type|Residential Type|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+
|       220008|     2022|   2023-01-30|     Andover|         618 ROUTE 6|        139020|     232000|  Residential|   Single Family|
|      2020348|     2020|   2021-09-13|     Ansonia|     230 WAKELEE AVE|        150500|     325000|   Commercial|            NULL|
|        20002|     2020|   2020-10-02|     Ashford|     390 TURNPIKE RD|        253000|     430000|  Residential|   Single Family|
|       210317|     2021|   2022-07-05|        Avon|     53 COTSWOLD WAY|        329730|     805000|  Residential|   Single Family|
|       200212|     2020|   2021-03-09|        Avon|    5 CHESTNUT DRIVE|        130400|     179900|  Residential|           Condo|
|       200243|     2020|   2021-04-13|        Avon|111 NORTHINGTON D...|        619290|     890000|  Residential|   Single Family|
|       200377|     2020|   2021-07-02|        Avon|  70 FAR HILLS DRIVE|        862330|    1447500|  Residential|   Single Family|
|        22043|     2022|   2023-03-15|Beacon Falls|   41 EDGEWOOD DRIVE|        164170|     285000|  Residential|   Single Family|
|       200109|     2020|   2020-12-09|        Avon|  57 FAR HILLS DRIVE|        847520|    1250000|  Residential|   Single Family|
|      2020180|     2020|   2021-03-01|      Berlin| 1539 FARMINGTON AVE|        234200|     130000|  Residential|      Two Family|
|      2020313|     2020|   2021-07-01|      Berlin|   216 WATCH HILL RD|        412000|     677500|  Residential|   Single Family|
|       220440|     2022|   2023-02-16|    Branford|          69 MONTOYA|         84300|     195000|  Residential|           Condo|
|       200097|     2020|   2021-06-04|     Bethany|         23 AMITY RD|        511000|     795000|   Commercial|            NULL|
|       210045|     2025|   2022-04-29|   Bethlehem|   89 LONG MEADOW RD|        229900|     561850|  Residential|   Single Family|
|       210101|     2025|   2021-12-20|        NULL|      43 LEDYARD AVE|        111580|     209000|  Residential|   Single Family|
|        20139|     2025|   2020-12-16|        NULL|   16 DEEPWOOD DRIVE|        171360|     335000|  Residential|   Single Family|
|       200086|     2025|   2021-08-10|        NULL|      39 WOODLAND RD|        168900|     352000|  Residential|   Single Family|
|      2000381|     2025|   2021-09-13|        NULL|      9 SADDLE RIDGE|        163730|     250000|  Residential|           Condo|
|       200258|     2020|   2021-01-22|        NULL|34 SUNRISE COVE CAMP|        530500|     700000|  Residential|   Single Family|
|       210035|     2021|   2021-10-20|        NULL|   25 QUARRY DOCK RD|        208100|     448000|  Residential|           Condo|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+
only showing top 20 rows

In [ ]:
df = df.withColumn("Sales_Ratio", round(col("Assessed Value")/col("Sale Amount"),2))
df.show()

+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
|Serial Number|List Year|Date Recorded|        Town|             Address|Assessed Value|Sale Amount|Property Type|Residential Type|Sales_Ratio|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
|       220008|     2022|   2023-01-30|     Andover|         618 ROUTE 6|        139020|     232000|  Residential|   Single Family|        0.6|
|      2020348|     2020|   2021-09-13|     Ansonia|     230 WAKELEE AVE|        150500|     325000|   Commercial|            NULL|       0.46|
|        20002|     2020|   2020-10-02|     Ashford|     390 TURNPIKE RD|        253000|     430000|  Residential|   Single Family|       0.59|
|       210317|     2021|   2022-07-05|        Avon|     53 COTSWOLD WAY|        329730|     805000|  Residential|   Single Family|       0.41|
|       200212|     2020|   2021-03-09|        Avon|    5 CHESTNUT DRIVE|        130400|     179900|  Residential|           Condo|       0.72|
|       200243|     2020|   2021-04-13|        Avon|111 NORTHINGTON D...|        619290|     890000|  Residential|   Single Family|        0.7|
|       200377|     2020|   2021-07-02|        Avon|  70 FAR HILLS DRIVE|        862330|    1447500|  Residential|   Single Family|        0.6|
|        22043|     2022|   2023-03-15|Beacon Falls|   41 EDGEWOOD DRIVE|        164170|     285000|  Residential|   Single Family|       0.58|
|       200109|     2020|   2020-12-09|        Avon|  57 FAR HILLS DRIVE|        847520|    1250000|  Residential|   Single Family|       0.68|
|      2020180|     2020|   2021-03-01|      Berlin| 1539 FARMINGTON AVE|        234200|     130000|  Residential|      Two Family|        1.8|
|      2020313|     2020|   2021-07-01|      Berlin|   216 WATCH HILL RD|        412000|     677500|  Residential|   Single Family|       0.61|
|       220440|     2022|   2023-02-16|    Branford|          69 MONTOYA|         84300|     195000|  Residential|           Condo|       0.43|
|       200097|     2020|   2021-06-04|     Bethany|         23 AMITY RD|        511000|     795000|   Commercial|            NULL|       0.64|
|       210045|     2025|   2022-04-29|   Bethlehem|   89 LONG MEADOW RD|        229900|     561850|  Residential|   Single Family|       0.41|
|       210101|     2025|   2021-12-20|        NULL|      43 LEDYARD AVE|        111580|     209000|  Residential|   Single Family|       0.53|
|        20139|     2025|   2020-12-16|        NULL|   16 DEEPWOOD DRIVE|        171360|     335000|  Residential|   Single Family|       0.51|
|       200086|     2025|   2021-08-10|        NULL|      39 WOODLAND RD|        168900|     352000|  Residential|   Single Family|       0.48|
|      2000381|     2025|   2021-09-13|        NULL|      9 SADDLE RIDGE|        163730|     250000|  Residential|           Condo|       0.65|
|       200258|     2020|   2021-01-22|        NULL|34 SUNRISE COVE CAMP|        530500|     700000|  Residential|   Single Family|       0.76|
|       210035|     2021|   2021-10-20|        NULL|   25 QUARRY DOCK RD|        208100|     448000|  Residential|           Condo|       0.46|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
only showing top 20 rows

In [ ]:
df = df.fillna({"Residential Type":"Unknown"})
df = df.fillna({"Property Type":"Unknown"})
df.show()

+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
|Serial Number|List Year|Date Recorded|        Town|             Address|Assessed Value|Sale Amount|Property Type|Residential Type|Sales_Ratio|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
|       220008|     2022|   2023-01-30|     Andover|         618 ROUTE 6|        139020|     232000|  Residential|   Single Family|        0.6|
|      2020348|     2020|   2021-09-13|     Ansonia|     230 WAKELEE AVE|        150500|     325000|   Commercial|         Unknown|       0.46|
|        20002|     2020|   2020-10-02|     Ashford|     390 TURNPIKE RD|        253000|     430000|  Residential|   Single Family|       0.59|
|       210317|     2021|   2022-07-05|        Avon|     53 COTSWOLD WAY|        329730|     805000|  Residential|   Single Family|       0.41|
|       200212|     2020|   2021-03-09|        Avon|    5 CHESTNUT DRIVE|        130400|     179900|  Residential|           Condo|       0.72|
|       200243|     2020|   2021-04-13|        Avon|111 NORTHINGTON D...|        619290|     890000|  Residential|   Single Family|        0.7|
|       200377|     2020|   2021-07-02|        Avon|  70 FAR HILLS DRIVE|        862330|    1447500|  Residential|   Single Family|        0.6|
|        22043|     2022|   2023-03-15|Beacon Falls|   41 EDGEWOOD DRIVE|        164170|     285000|  Residential|   Single Family|       0.58|
|       200109|     2020|   2020-12-09|        Avon|  57 FAR HILLS DRIVE|        847520|    1250000|  Residential|   Single Family|       0.68|
|      2020180|     2020|   2021-03-01|      Berlin| 1539 FARMINGTON AVE|        234200|     130000|  Residential|      Two Family|        1.8|
|      2020313|     2020|   2021-07-01|      Berlin|   216 WATCH HILL RD|        412000|     677500|  Residential|   Single Family|       0.61|
|       220440|     2022|   2023-02-16|    Branford|          69 MONTOYA|         84300|     195000|  Residential|           Condo|       0.43|
|       200097|     2020|   2021-06-04|     Bethany|         23 AMITY RD|        511000|     795000|   Commercial|         Unknown|       0.64|
|       210045|     2025|   2022-04-29|   Bethlehem|   89 LONG MEADOW RD|        229900|     561850|  Residential|   Single Family|       0.41|
|       210101|     2025|   2021-12-20|        NULL|      43 LEDYARD AVE|        111580|     209000|  Residential|   Single Family|       0.53|
|        20139|     2025|   2020-12-16|        NULL|   16 DEEPWOOD DRIVE|        171360|     335000|  Residential|   Single Family|       0.51|
|       200086|     2025|   2021-08-10|        NULL|      39 WOODLAND RD|        168900|     352000|  Residential|   Single Family|       0.48|
|      2000381|     2025|   2021-09-13|        NULL|      9 SADDLE RIDGE|        163730|     250000|  Residential|           Condo|       0.65|
|       200258|     2020|   2021-01-22|        NULL|34 SUNRISE COVE CAMP|        530500|     700000|  Residential|   Single Family|       0.76|
|       210035|     2021|   2021-10-20|        NULL|   25 QUARRY DOCK RD|        208100|     448000|  Residential|           Condo|       0.46|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
only showing top 20 rows

In [ ]:
df.select("List Year").distinct().show()
df = df.filter((col("List Year")>=2001) & (col("List Year")<=2022))
df.select("List Year").distinct().show()

+---------+
|List Year|
+---------+
|     2025|
|     2022|
|     2020|
|     2001|
|     2002|
|     2021|
+---------+

+---------+
|List Year|
+---------+
|     2022|
|     2020|
|     2001|
|     2002|
|     2021|
+---------+

In [ ]:
mode_town = df.select(mode("Town")).collect()[0][0]
df = df.fillna({"Town":mode_town})
df.show()

+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
|Serial Number|List Year|Date Recorded|        Town|             Address|Assessed Value|Sale Amount|Property Type|Residential Type|Sales_Ratio|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
|       220008|     2022|   2023-01-30|     Andover|         618 ROUTE 6|        139020|     232000|  Residential|   Single Family|        0.6|
|      2020348|     2020|   2021-09-13|     Ansonia|     230 WAKELEE AVE|        150500|     325000|   Commercial|         Unknown|       0.46|
|        20002|     2020|   2020-10-02|     Ashford|     390 TURNPIKE RD|        253000|     430000|  Residential|   Single Family|       0.59|
|       210317|     2021|   2022-07-05|        Avon|     53 COTSWOLD WAY|        329730|     805000|  Residential|   Single Family|       0.41|
|       200212|     2020|   2021-03-09|        Avon|    5 CHESTNUT DRIVE|        130400|     179900|  Residential|           Condo|       0.72|
|       200243|     2020|   2021-04-13|        Avon|111 NORTHINGTON D...|        619290|     890000|  Residential|   Single Family|        0.7|
|       200377|     2020|   2021-07-02|        Avon|  70 FAR HILLS DRIVE|        862330|    1447500|  Residential|   Single Family|        0.6|
|        22043|     2022|   2023-03-15|Beacon Falls|   41 EDGEWOOD DRIVE|        164170|     285000|  Residential|   Single Family|       0.58|
|       200109|     2020|   2020-12-09|        Avon|  57 FAR HILLS DRIVE|        847520|    1250000|  Residential|   Single Family|       0.68|
|      2020180|     2020|   2021-03-01|      Berlin| 1539 FARMINGTON AVE|        234200|     130000|  Residential|      Two Family|        1.8|
|      2020313|     2020|   2021-07-01|      Berlin|   216 WATCH HILL RD|        412000|     677500|  Residential|   Single Family|       0.61|
|       220440|     2022|   2023-02-16|    Branford|          69 MONTOYA|         84300|     195000|  Residential|           Condo|       0.43|
|       200097|     2020|   2021-06-04|     Bethany|         23 AMITY RD|        511000|     795000|   Commercial|         Unknown|       0.64|
|       200258|     2020|   2021-01-22|  Bridgeport|34 SUNRISE COVE CAMP|        530500|     700000|  Residential|   Single Family|       0.76|
|       210035|     2021|   2021-10-20|  Bridgeport|   25 QUARRY DOCK RD|        208100|     448000|  Residential|           Condo|       0.46|
|       210748|     2021|   2022-01-14|  Bridgeport|  360 VINCELLETTE ST|        160776|     315000|  Residential|   Single Family|       0.51|
|       200804|     2020|   2021-09-28|  Bridgeport|    119 MONTOWESE ST|        455100|     650000|   Commercial|         Unknown|        0.7|
|       201295|     2020|   2021-09-09|  Bridgeport|         609 CAMP ST|        144340|     249900|  Residential|   Single Family|       0.58|
|       200032|     2020|   2020-10-08|  Bridgeport|      9 LESLIE COURT|         94920|     155000|  Residential|   Single Family|       0.61|
|       211762|     2021|   2022-06-21|  Bridgeport|     38 RIVERVIEW DR|         86990|     247000|  Residential|           Condo|       0.35|
+-------------+---------+-------------+------------+--------------------+--------------+-----------+-------------+----------------+-----------+
only showing top 20 rows

In [ ]:
df.select([count(when(col(c).isNull(),c)).alias(c) for c in df.columns]).show()

+-------------+---------+-------------+----+-------+--------------+-----------+-------------+----------------+-----------+
|Serial Number|List Year|Date Recorded|Town|Address|Assessed Value|Sale Amount|Property Type|Residential Type|Sales_Ratio|
+-------------+---------+-------------+----+-------+--------------+-----------+-------------+----------------+-----------+
|            0|        0|            0|   0|      0|             0|          0|            0|               0|          7|
+-------------+---------+-------------+----+-------+--------------+-----------+-------------+----------------+-----------+

In [ ]:
data = df.toPandas()
data.to_csv("cleaned_10.csv", index=False)

In [ ]:
spark.stop()